body{
    background-color: #242436;
    font-family: Verdana;
}

.cartGrid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.cart{
    margin-left: 15px;
    margin-right: 10px;

    border-radius: 10px;
    overflow: hidden;
    background-color: #28395b;
}

.cart a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.cart a:hover{
    color: #efa81e;
}

.info{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.info img{
    width: 250px;
}

.pGray{
    margin-top: 20px;
    margin-bottom: 4px;
    color: #6e6e6e;
}

.pWhite{
    color: #bbbbbb;
}

.paragraphs{
    margin-left: 15px;
    margin-top: 25px;
}